.madatcho {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    color: #8f8f8f;
}

.iddatcho {
    font-size: 16px;
    line-height: 24px;
}

.chia2 {
    overflow: auto;
    padding-bottom: 5px;
}

.info {
    width: 300px;
    height: 250px;
    padding: 5px;
    background-color: white;
}