<body>
    <link rel="stylesheet" href="/css/getstart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <div style="background: url(https://bootstrapious.com/i/snippets/sn-static-header/background.jpg)" class="jumbotron bg-cover text-white">
        <div class="container py-5 text-center">
            <h1 class="display-4 font-weight-bold">TRAVELOKA</h1>
            <p class="font-italic mb-0" style="font-size:25px;">Traveloka luôn sẵn sàng hợp tác với bạn, hãy cùng chúng tôi phát triển doanh nghiệp.</p>
            
            <p></p>
            <a href="/login" role="button" class="btn btn-primary px-5">Get Start</a>
        </div>
    </div>

    <!-- For Demo Purpose -->
    <div class="container py-5" >
        <h2 class="h3 font-weight-bold" style="text-align:center;">Mang đến cho khách hàng nhiều trải nghiệm thú vị và độc đáo</h2>
        <div class="row">
            <div class="col-lg-10 mb-4">
                <p class="font-italic text-muted" style="font-size:18px;">Hãy để khách hàng được hưởng nhiều hơn những ưu đãi trải nghiệm tuyệt vời từ công ty của bạn! 
				</p>
            </div>
            <div class="col-lg-8">
                <p class="font-italic text-muted" style="font-size:18px;">Các điểm tham quan, tour du lịch, sự kiện, sân chơi, làm đẹp và spa, và nhiều hơn nữa.
				 <br>Không ngừng sáng tạo ra những sản phẩm, dịch vụ … mang lại sự thỏa mãn cao nhất cho khách hàng. Hiệu quả hoạt động với tôn chỉ dành lợi ích cao nhất cho cổ đông. Tích cực tham gia các hoạt động xã hội nhằm tạo ra nhiều lợi ích chung cho cộng đồng và toàn xã hội. Cung cấp cho khách hàng những sản phẩm, dịch vụ tốt nhất trong ngành du lịch...</p>
            </div>
        </div>
    </div>
</body>