<!doctype html>
<html lang="en">

<head>
	<title>Login 10</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="/css/login.css">

</head>

<body class="img js-fullheight" style="background-image: url(/images/bg.jpg);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">SIGN UP</h2>
				</div>
			</div>
			<div class="row justify-content-center">



				<form action="" method="post" class="signin-form">

					<div style="float: left">
						<div style="padding: 8px">
							<input type="text" class="form-control" placeholder="Name" name="name">
						</div>
						<div style="padding: 8px">
							<input type="email" class="form-control" placeholder="Email" name="email">
						</div>
						<div style="padding: 8px">
							<input type="text" class="form-control" placeholder="Username" name="Username">
						</div>

						<div style="padding: 8px">
							<input id="password-field" type="password" class="form-control" placeholder="Password"
								name="password">

						</div>

						<div style="padding: 8px">
							<input id="password-field" type="password" class="form-control"
								placeholder="Comfirm Password" name="confirmpassword">

						</div>
					</div>

					<div style="float: right;">
						<div style="padding: 8px">
							<input id="password-field" type="text" class="form-control" placeholder="Address"
								name="address">
						</div>

						<div style="padding: 8px">
							<input id="password-field" type="text" class="form-control" placeholder="Company Name"
								name="companyName">
						</div>

						<div style="padding: 8px">
							<input id="password-field" type="datetime-local" class="form-control"
								placeholder="Ngày sinh" name="dob">
						</div>

						<div style="padding: 8px">
							{{!-- <input id="password-field" type="text" class="form-control" placeholder="Gender"
								name="gender"> --}}
							<select class="form-control" name="gender">
								<option value="false">Nam</option>
								<option value="true">Nữ</option>
							</select>
						</div>

						<div style="padding: 8px">
							<input id="password-field" type="text" class="form-control" placeholder="Phone"
								name="phone">
						</div>
					</div>


					<div style="padding: 8px">
						<button type="submit" class="form-control btn btn-primary submit px-3">Sign Up</button>
						<div>
							{{#if err}}
							{{#each err}}
							<p style="display: flex; justify-content: center;">{{this}}</p>
							{{/each}}
							{{/if}}
						</div>
					</div>
				</form>
				<p class="w-100 text-center">&mdash; Or Sign In &mdash;</p>
				<div class="social d-flex text-center">
					<a href="/login" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span>
						Sign In</a>

				</div>
			</div>


		</div>
	</section>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/popper.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/main.js"></script>

</body>

</html>