<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bootstrap Material Admin by Bootstrapious.com</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <link href="/css/multiselect.css" rel="stylesheet"/>
	<script src="/js/multiselect.min.js"></script>


    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- Choices CSS-->
    <link rel="stylesheet" href="/css/homechoices.min.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/css/homestyle.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/css/homecustom.css">
    <link rel="stylesheet" href="/css/selectmultiple.css">
    <link rel="import" href="https://rawgit.com/sitepoint-editors/multiselect-web-component/master/src/multiselect.html">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        .container {
            width: 80%;
            height: 80%;
        }
    </style>

</head>

<body>
    <div class="page">
        <!-- Main Navbar-->
        <header class="header z-index-50">
            <nav class="navbar py-3 px-0 shadow-sm text-white position-relative">
                <!-- Search Box-->
                <div class="search-box shadow-sm">
                    <button class="dismiss d-flex align-items-center">
                        <svg class="svg-icon svg-icon-heavy">
                            <use xlink:href="#close-1"> </use>
                        </svg>
                    </button>
                    <form id="searchForm" action="#" role="search">
                        <input class="form-control shadow-0" type="text" placeholder="What are you looking for...">
                    </form>
                </div>
                <div class="container-fluid w-100">
                    <div class="navbar-holder d-flex align-items-center justify-content-between w-100">
                        <!-- Navbar Header-->
                        <div class="navbar-header">
                            <img src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/3/30bf6c528078ba28d34bc3e37d124bdb.svg" alt="">

                        </div>
                        <!-- Navbar Menu -->
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">

                            <!-- Logout    -->
                            <li class="nav-item">
                                <a class="nav-link text-white" href="login" onclick="delcookie()"> <span class="d-none d-sm-inline">Logout</span>
                                    <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                                        <use xlink:href="#security-1"> </use>
                                    </svg></a>
                            </li>
                            <script>
                                function delcookie() {
                                    console.log("asdasd")
                                    document.cookie = "Cookie_User=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                                }
                            </script>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="page-content d-flex align-items-stretch">
            <!-- Side Navbar -->
            <nav class="side-navbar z-index-40">
                <!-- Sidebar Header-->
                <div class="sidebar-header d-flex align-items-center py-4 px-3">
                    <img class="avatar shadow-0 img-fluid rounded-circle" src="img/avatar-1.jpg" alt="...">
                    <div class="ms-3 title">
                        <h1 class="h4 mb-2">{{{user}}}</h1>
                    </div>
                </div>
                <!-- Sidebar Navidation Menus--><span class="text-uppercase text-gray-400 text-xs letter-spacing-0 mx-3 px-2 heading">Main</span>
                <ul class="list-unstyled py-4">
                    <li class="sidebar-item ">
                        <a class="sidebar-link" href="/home">
                            <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                                <use xlink:href="#real-estate-1"> </use>
                            </svg>Home </a>
                    </li>
                    <li class="sidebar-item ">
                        <a class="sidebar-link" href="/table">
                            <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                                <use xlink:href="#portfolio-grid-1"> </use>
                            </svg>Tables </a>
                    </li>
                    </li>
                    <li class="sidebar-item ">
                        <a class="sidebar-link" href="/form">
                            <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                                <use xlink:href="#survey-1"> </use>
                            </svg>Forms </a>
                    </li>
                    <li class="sidebar-item  active">
                        <a class="sidebar-link" href="/statistic">
                            <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                                <use xlink:href="#portfolio-grid-1"> </use>
                            </svg>Thống kê </a>
                    </li>                    
                </ul>
            </nav>
            <div class="content-inner w-100">

                <!-- Breadcrumb-->
                <div class="products-area-wrapper tableView">

                    <select name="nam" id="nam"></select>
                    <select name="type" id="type">
                        <option value="line">Loại line</option>
                        <option value="bar">Loại bar</option>
                        <option value="doughnut">Loại doughnut</option>
                        <option value="pie">Loại pie</option>
                        <option value="polarArea">Loại polarArea</option>
                    </select>
                    <button onclick="getdata()">chọn</button>

                </div>
                <div class="container">
                    <canvas id="myChart"></canvas>
                </div>
            </div>

        </div>
    </div>
    </div>

    <script>
        var id = `{{{id}}}`
        var strNam
        for (var i = 2022; i >= 1990; i--) {
            strNam = strNam + `<option value="${i}">${i}</option>`
        }
        document.getElementById('nam').innerHTML = strNam

        async function getdata() {
            var nam = document.getElementById('nam').value
            var type = document.getElementById('type').value
            var myChart
            var getdata = await axios({
                method: 'post',
                url: `http://95.111.203.185:3003/statistic/Detail/chart/${id}`,
                data: {
                    nam: nam
                }
            })
            getdata = getdata.data;
            await document.getElementById("myChart").remove()
            var canvas = document.createElement("canvas")
            canvas.id = "myChart"
            document.querySelector(".container").appendChild(canvas);
            

            var ctx = document.getElementById("myChart").getContext('2d');
            myChart = new Chart(ctx, {
                type: type,
                data: {
                    labels: ['Tháng 1', 'Tháng 2 ', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12 '],
                    datasets: [{
                            label: `Thu Nhập Năm ${nam}`,
                            data: getdata,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(255, 159, 64, 0.2)',
                                'rgba(255, 205, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(201, 203, 207, 0.2)'
                            ],
                            borderColor: [
                                'rgb(255, 99, 132)',
                                'rgb(255, 159, 64)',
                                'rgb(255, 205, 86)',
                                'rgb(75, 192, 192)',
                                'rgb(54, 162, 235)',
                                'rgb(153, 102, 255)',
                                'rgb(201, 203, 207)'
                            ],
                            borderWidth: 1
                        },
                        /*{
                            label: 'Last week',
                            data: [1400000, 1200000, 1500000,2500000, 1800000, 1900000, 2200000],
                            borderColor: 'rgba(192, 192, 192, 1)',
                            backgroundColor: 'rgba(192, 192, 192, 0.2)',
                        } */
                    ]
                },
            });
        }
    </script>

    <!-- JavaScript files-->
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/Chart.min.js"></script>
    <script src="/js/just-validate.min.js"></script>
    <script src="js/choices.min.js"></script>
    <!-- Main File-->
    <script src="js/front.js"></script>
    <script>
        // ------------------------------------------------------- //
        //   Inject SVG Sprite - 
        //   see more here 
        //   https://css-tricks.com/ajaxing-svg-sprite/
        // ------------------------------------------------------ //
        function injectSvgSprite(path) {

            var ajax = new XMLHttpRequest();
            ajax.open("GET", path, true);
            ajax.send();
            ajax.onload = function(e) {
                var div = document.createElement("div");
                div.className = 'd-none';
                div.innerHTML = ajax.responseText;
                document.body.insertBefore(div, document.body.childNodes[0]);
            }
        }
        // this is set to BootstrapTemple website as you cannot 
        // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
        // while using file:// protocol
        // pls don't forget to change to your domain :)
        injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');
    </script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</body>

</html>